{% extends "layout.html" %}

{% block containerDiv %}
    <!-- Leaflets CSS -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <style>
        #map { 
            height: 700px;
            width: 675px; 
        }
    </style>

    <!-- Google Charts -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <!-- leaflets JS -->
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    
    <script>
        google.load("visualization", "1", {packages:["corechart"]});

        var markerLayerGroup = undefined;
        var markerArray = [];

        $(document).ready(function(){
            var map = L.map('map').setView([42.551056983385934, 20.87127685546875], 9);

            L.tileLayer('http://{s}.tiles.mapbox.com/v3/georges.jjc3k7b1/{z}/{x}/{y}.png', {
                attribution: 'Data Source: <a href="http://opendatakosovo.org">Open Data Kosovo</a>',
                maxZoom: 18
            }).addTo(map);

            initMap();

            // Get measurements when selecting a month.
            // No need to listen to changes on year Select element because we only have one year (i.e. 2013).
            $('#month').on('change', function (e) {
                var year = $('#year').find(":selected").val();
                var month = this.value;
                var measurementKey = $('#measurement').find(":selected").val();

                addMarkers(year, month, measurementKey);                 
            });

            // Get measurements when selecting a measurement.
            $('#measurement').on('change', function (e) {
                var year = $('#year').find(":selected").val();
                var month = $('#month').find(":selected").val();
                var measurementKey = this.value;

                addMarkers(year, month, measurementKey);                 
            });

            function initMap(){
                // Init map with markers for default year, months and measurement selection.
                var year = $('#year').find(":selected").val();
                var month = $('#month').find(":selected").val();
                var measurementKey = $('#measurement').find(":selected").val();

                addMarkers(year, month, measurementKey);
            }

            function addMarkers(year, month, measurementKey){
                var mapDataRequestUrl = "{{ config.BASE_PATH }}/measurements?viti=" + year + "&muji=" + month;

                // Reset marker array
                markerArray = [];

                // Clear previous layer of markers
                if(markerLayerGroup != undefined){
                    map.removeLayer(markerLayerGroup);
                }

                // Draw measurement markers on map
                $.get(mapDataRequestUrl, function(data, status){
                    $.each(data, function(key, measurement) {

                        if(measurement[measurementKey] != undefined){
                            var lon = measurement.stacion.kordinatat.gjatesi;
                            var lat = measurement.stacion.kordinatat.gjeresi;

                            var stationName = measurement.stacion.emri;
                            var stationCode = measurement.stacion.kodi;
                            var measurementValue = measurement[measurementKey].vlere + " " + measurement[measurementKey].njesia;

                            var stationSlug = measurement.stacion.slug;
                            var year = $('#year').find(":selected").val();

                            var popupContent = stationName + ' (' + stationCode + ')<br><strong>' + measurementValue + '</strong><inp';

                            var marker = L.marker([lat, lon]);
                            marker.bindPopup(popupContent);

                            // When we click on a marker/station, draw graph of measurement values throughout the year.
                            marker.on('click', function(){

                                var dataTable = google.visualization.arrayToDataTable([]);
                                dataTable.addColumn('string', 'Muji');
                                dataTable.addColumn('number', 'Vlere')

                                var lineChartDataRequestUrl = "{{ config.BASE_PATH }}/measurements?viti=" + year + "&stacion=" + stationSlug;

                                $.get(lineChartDataRequestUrl, function(data, status){
                                    $.each(data, function(key, stationMeasurement) {

                                        drawChart = true;
                                        
                                        if(stationMeasurement[measurementKey] != undefined){
                                            var month = stationMeasurement.data.muji;
                                            var monthName = getMonthName(month);

                                            var measurementValueForTheMonth = stationMeasurement[measurementKey].vlere;

                                            dataTable.addRow([monthName, measurementValueForTheMonth]);
                                        }else{
                                            drawChart = false;
                                        }
                                    });

                                    // Draw line chart
                                    if(drawChart){
                                        var measurementName = getMeasurementName(measurementKey);
                                        var lineChartTitle = measurementName + " (" + year + ")";

                                        var options = {
                                            title: lineChartTitle,
                                            legend: {position: 'none'},
                                            vAxis: {title: measurement[measurementKey].njesia},
                                            hAxis: {title: "Muji"},
                                        };
                                        var chart = new google.visualization.LineChart(document.getElementById('chart-container'));

                                        chart.draw(dataTable, options);
                                    }else{
                                        $('#chart-container').html('');
                                    }

                                });
                            });

                            markerArray.push(marker);
                            
                        }else{
                            $('#chart-container').html('');
                        }
                    });

                    markerLayerGroup = L.layerGroup(markerArray);
                    map.addLayer(markerLayerGroup);
                });
            }

            function getMonthName(number){
                var monthName = '';

                $("#month > option").each(function() {
                    if(this.value == number){
                        monthName = this.text;
                        return false;
                    }
                });

                return monthName;
            }

            function getMeasurementName(measurementKey){
                var measurementName = '';

                $("#measurement > option").each(function() {
                    if(this.value == measurementKey){
                        measurementName = this.text;
                        return false;
                    }
                });

                return measurementName;
            } 
        });
    </script>

    <table width="100%">
        <tr>
            <td width="1%">
                <div id="map"></div>
            </td>
            <td width="99%" valign="top" style="padding: 20px">
                <div id="control-panel">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="year" class="control-label col-xs-2">Viti</label>
                            <div class="col-xs-5">
                                <select class="form-control" id="year" name="year">
                                    <option value="2013">2013</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="month" class="control-label col-xs-2">Muji</label>
                            <div class="col-xs-5">
                                <select class="form-control" id="month" name="month">
                                    <option value="1">Janar</option>
                                    <option value="2">Shkurt</option>
                                    <option value="3">Mars</option>
                                    <option value="4">Prill</option>
                                    <option value="5">Maj</option>
                                    <option value="6">Qershor</option>
                                    <option value="7">Korrik</option>
                                    <option value="8">Gusht</option>
                                    <option value="9">Shtator</option>
                                    <option value="10">Tetor</option>
                                    <option value="11">Nentor</option>
                                    <option value="12">Dhjetor</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="measurement" class="control-label col-xs-2">Paramet&euml;r</label>
                            <div class="col-xs-5">
                                <select class="form-control" id="measurement" name="measurement">
                                    <option value="alkalitetiTotal">Alkaliteti total</option>
                                    <option value="amoniumiPajonizuar" selected>Amoniumi i pajonizuar</option>
                                    <option value="azotiAmoniumit">Azoti i amoniumit</option>
                                    <option value="azotiAmoniumitTePajonizuar">Azoti i amoniumit te pajonizuar</option>
                                    <option value="azotiNitrateve">Azoti i nitrateve</option>
                                    <option value="azotiNitriteve">Azoti i nitriteve</option>
                                    <option value="azotiTotalInorganik">Azoti total inorganik</option>
                                    <option value="bikarbonatet">Bikarbonatet</option>
                                    <option value="detergjentet">Detergjentet</option>
                                    <option value="fortesiaKalciumit">Fort&euml;sia e Kalciumit</option>
                                    <option value="fortesiaMagnezit">Fort&euml;sia e Magnezit</option>
                                    <option value="fortesiaPergjithshme">Fort&euml;sia e p&euml;rgjithshme</option>
                                    <option value="fosforiOrtofosfateve">Fosfori I ortofosfateve</option>
                                    <option value="fosforiTotalPoliOrto)">Fosfori total (poli+orto)</option>
                                    <option value="jonetKalciumit">Jonet e Kalciumit</option>
                                    <option value="jonetMagnezit">Jonet e Magnezit</option>
                                    <option value="joniAmonium">Joni amonium</option>
                                    <option value="joniNitratet">Joni nitratet</option>
                                    <option value="joniNitrit">Joni nitrit</option>
                                    <option value="joniSulfat">Joni sulfat</option>
                                    <option value="karboniOrganikTotal">Karboni organik total</option>
                                    <option value="alkaliteti">M-Alkaliteti</option>
                                    <option value="materietTretshmeNeUje">Materiet e tretshme n&euml; uj&euml;</option>
                                    <option value="meterietTotaleTeSuspenduara">Meteriet totale t&euml; suspenduara</option>
                                    <option value="ngopshmeriaMeOksigjen">Ngopshmeria me oksigjen</option>
                                    <option value="oksigjeniTretur">Oksigjeni i tretur</option>
                                    <option value="ortofosfatet">Ortofosfatet</option>
                                    <option value="perqendrimiJonitHidrogjen">P&euml;rq&euml;ndrimi i jonit hidrogjen</option>
                                    <option value="perqueshmeriaElektrike">Perqueshm&euml;ria elektrike</option>
                                    <option value="shpenzimiBiokimikOksigjenitSHBO5">Shpenzimi biokimik i oksigjenit</option>
                                    <option value="shpenzimiKimikOksigjenit">Shpenzimi kimik i oksigjenit</option>
                                    <option value="temperaturaUjit">Temperatura e ujit</option>
                                    <option value="turbullira">Turbullira</option>
                                </select>
                            </div>
                        </div>
                        <br><br>
                        <div id="chart-container" style="width: 700px; height: 300px;">
                        </div>
                    </form>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}